- name: mysql-digital-ocean playbook to unbind the application
  hosts: localhost
  gather_facts: false
  connection: local
  roles:
  - role: ansible.kubernetes-modules
    install_python_requirements: no
  - role: ansibleplaybookbundle.asb-modules
  - role: unbind-mysql-digital-ocean-apb
    playbook_debug: false
